@import '_common/normalize';

html {
  font-size: $global-font-size;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $global-font-family;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $global-lineheight;
  color: $global-font-color;
  scroll-behavior: smooth;
  border-top: 3px solid $theme-color;
  @if ($global-background-image-path != "") {
    background: $white url($global-background-image-path);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    @media screen and (min-width: $global-background-image-width) {
      background-size: cover;
    }
  } @else {
    background: $global-background;
  }
}

@include max-screen() {
  body {
    border-top: 0;
  }
}

::selection {
  background: $theme-color;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a {
  color: $global-font-color;
  text-decoration: none;
}

@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
  }
}

#container {
  width: 100%;
  display: block;
  margin: 40px auto;
}

@media screen and (min-width: 768px) {
  #container {
    max-width: 720px;
  }
  #main {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  #container {
    display: flex;
    max-width: 960px;
  }
  #main {
    max-width: 592px;

    .content-wrapper {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    max-width: 1140px;
  }
  #main {
    max-width: 772px;
  }
}

@media screen and (min-width: 1310px) {
  #container {
    width: 1280px;
    max-width: 100%;
  }
  #main {
    max-width: 866px;

    .content-wrapper {
      margin-right: 18px;
    }
  }
}
