// ==============================
// Back to top
// =============================

@media screen and (max-width: 991px) {
  .back-to-top {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .back-to-top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    background: #FFFFFF90;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    z-index: 10;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
