// ==============================
// Pagination
// ==============================

.pagination {
  padding: 2em 20px;
  background: $white;
  @include clearfix;

  .prev,
  .next {
    font-weight: 600;
    font-size: $pagination-font-size;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }

  .prev {
    float: left;

    &:hover {
      color: $theme-color;
      transform: translateX(-4px);
    }
  }

  .next {
    float: right;

    &:hover {
      color: $theme-color;
      transform: translateX(4px);
    }
  }
}

@media screen and (min-width: 992px) {
  .pagination {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (min-width: 1310px) {
  .pagination {
    padding-left: 68px;
    padding-right: 68px;
  }
}
