// ==============================
// Post
// ==============================

.posts, .post {
  margin-bottom: 25px;
}

.post {
  padding: 45px 20px;
  border: 1px solid #ddd;
  background-color: $white;

  @import '_post/header';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/footer';
  @import '_post/outdated';
  @import '_post/embedded';
}

@media screen and (min-width: 992px) {
  .post {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (min-width: 1310px) {
  .post {
    padding-left: 68px;
    padding-right: 68px;
  }
}
