{{- if .Site.Params.features.outdatedInfoWarning }}
  <div class="post-outdated">
  </div>
  <script>
    const elapsedDays = Date.now() / 86400000 - {{- div .Lastmod.Unix 86400 -}};
    let outdatedDivClass;
    let dateText;
    if (elapsedDays > 365) {
      outdatedDivClass = 'warn';
      dateText = {{ T "outdatedInfoOneYear" }};
    } else if (elapsedDays > 183) {
      outdatedDivClass = 'hint';
      dateText = {{ T "outdatedInfoHalfYear" }};
    }
    if (outdatedDivClass && dateText) {
      const outdatedContainer = document.querySelector('.post-outdated');
      const text = {{ T "outdatedInfoWarningBefore" }} +dateText + {{ T "outdatedInfoWarningAfter" }};
      if (outdatedContainer !== null) {
        outdatedContainer.insertAdjacentHTML('afterbegin', `<div class="${outdatedDivClass}"><p>${text}</p></div>`);
      }
    }
  </script>
{{- end -}}
