// ==============================
// Social
// =============================

.social-links {
  display: flex;
  justify-content: center;

  .icon {
    width: 30px;
    height: 30px;
    margin: 5px;

    svg {
      width: 30px;
      height: 30px;
    }

    &:hover {
      color: $theme-color;
    }
  }
}
