// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  margin: 0 10px;

  .logo {
    font-size: $logo-font-size;
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
