// ==============================
// Logo
// =============================

.logo-wrapper {
  .logo {
    font-size: 22px;
    line-height: $mobile-navbar-height;
  }
}

@media screen and (min-width: 768px) {
  .logo-wrapper {
    margin: 0 auto 0 10px;

    .logo {
      font-size: $logo-font-size;
      line-height: unset;
    }
  }
}
