{{ if .IsNamedParams -}}

  {{ if eq (.Get "details") "true" -}}

<details class="admonition admonition-color-{{ .Get "color" }}">
  {{- if $title := .Get "title" }}
    <summary class="admonition-title">
      <span class="admonition-icon">{{- with .Get "icon" | printf "icon/%s.svg" -}}{{- partial . -}}{{- end -}}</span>
      {{- $title -}}
    </summary>
  {{ end }}
  {{- .Inner -}}
</details>

  {{- else -}}

<div class="admonition admonition-color-{{ .Get "color" }}">
  {{- if $title := .Get "title" }}
    <p class="admonition-title">
      <span class="admonition-icon">{{- with .Get "icon" | printf "icon/%s.svg" -}}{{- partial . -}}{{- end -}}</span>
      {{- $title -}}
    </p>
  {{ end }}
  {{- .Inner -}}
</div>

  {{- end }}

{{- else -}}

  {{ if eq (.Get 3) "true" -}}

<details class="admonition admonition-color-{{ .Get 0 }}">
  {{- if $title := .Get 2 }}
    <summary class="admonition-title">
      <span class="admonition-icon">{{- with .Get 1 | printf "icon/%s.svg" -}}{{- partial . -}}{{- end -}}</span>
      {{- $title -}}
    </summary>
  {{ end }}
  {{- .Inner -}}
</details>

  {{- else -}}

<div class="admonition admonition-color-{{ .Get 0 }}">
  {{- if $title := .Get 2 }}
    <p class="admonition-title">
      <span class="admonition-icon">{{- with .Get 1 | printf "icon/%s.svg" -}}{{- partial . -}}{{- end -}}</span>
      {{- $title -}}
    </p>
  {{ end }}
  {{- .Inner -}}
</div>

  {{- end }}

{{- end }}
